/**** home page start ***/
header{
	background-color: #58614e;
}
.container {
    width: 970px;
}
.navbar-default {
    background-color: #58614e;
    border-color: transparent;
}
.navbar{
	border-radius:0px;
	min-height: 135px;
}
.no-padding,.nav>li>a{
	padding:0px;
}
.padding-right-0{
	padding-right:0px;
}
.navbar>.container-fluid .navbar-brand{
	margin-top:40px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:#fff;
	background-color: transparent;
	
}
.navbar-nav>li>a{
	padding-left:30px;
	padding-top:75px;
	text-decoration:underline;
}
.navbar-default .navbar-nav>li>a{
	color:#b7c4ab;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#fff;
	text-decoration:underline;
}
.home_section1{
	background-color: #e0e0e0;
	min-height:402px;
	padding-top: 20px;
}
#firstContainerSection{
	background-color:#e8e8e8;
	height: 384px;
}
#firstContainerSection .homePage_para{
	font-size: 23px;
    line-height: 40px;
	color:#4c5743;
}
#firstContainerSection .homePage_para2{
	font-size:16px;
	line-height:35px;
	color:#4c5743;
}
#firstContainerSection  div.row div.col-md-4{
	margin-top:105px;
}
#firstContainerSection div.row{
	border:1px solid #fff;
	box-shadow: -1px 5px 9px #888888;
}
#firstContainerSection div.row div.margin-top-10{
	margin-top:0px;
}
section.home_section2 blockquote p.homeSection_blockP{
	height:70px;
	overflow-y:auto;
	font-size:15px;
}
section.home_section2{
	height:  220px;
	background-color:#ededed;
}
section.home_section2 div.container{
	border-top :2px solid #fff;
	height:100%;
}
section.home_section2 div.container div.row, section.home_section2 div.container div.row div.col-md-8,
section.home_section4 div.container, section.home_section4 div.container 	div.row, section.home_section4 div.container div.row div.col-md-4{
	height:100%;
}
section.home_section2 div.container div.row div.col-md-8{
	border-right: 1px dashed #c2c2c2;
}
section.home_section2 h4.homeSection2_testimonial{
	letter-spacing: 2px;
    font-weight: lighter;
    font-size: 17px;
}
h3,h4,p,a{
	color:#4c5743;
}
.freeTemp{
	text-decoration:underline;
}
h4{
	margin:20px 0px;
}
blockquote{
	font-size:14px;
	color:#4c5743;
	margin:0px;
}
.line-height-25{
	line-height:25px;
}
.margin-top-20{
	margin-top:20px !important;
}
section.home_section3{
	min-height:447px;
	background-color:#e0e0e0;
}
section.home_section3 .thumbnail figure{
	border:4px solid #fff;
}
section.home_section3 .thumbnail img{
	padding:0px;
	border:2px solid #d4d4d4;
	min-width:0px;
}
section.home_section3 .thumbnail	div.caption{
	padding-right: 0px;
    font-size: 13px;
}
section.home_section3 .thumbnail	div.caption p:first-child{
	height: 90px;
    overflow-y: auto;
}
section.home_section3 .thumbnail	div.caption p:nth-child(3){
	margin-top:20px;
}
section.home_section3 .thumbnail	div.caption p:nth-child(3) a{
	min-width:97px;
}
section.home_section4 div.sendUsMsg  p:nth-child(3) a{
	min-width:213px;
}
.btn-primary,.btn-primary:hover,.btn-primary:focus{
	border-color:#696969;
	padding: 6px 10px;	
	border-radius:0px;
	font-size:12px;
	background: url(../images/buttonImage.jpg) repeat;
}
.margin-bottom-5{
	margin-bottom:5px;
}
.thumbnail{
	background-color:#e0e0e0;
}
section.ourLawyers_section1 .ourLawyers_sectionRight div.thumbnail div.caption a.btn-primary{
	width:98px;
}
section.home_section4{
	background-color: #d9d9d9;
	min-height: 205px;
}
.thumbnail>img{
	height:143px;
 }
.img-thumbnail{
	background-color:#ededed;
	padding:7px;
	box-shadow: 0px 0px 5px #888888;
	min-width:210px;
	border-radius:0px;
}
h5,h6{
	font-weight: bold;
    color: #6b6b6b;
}
.line-height-22{
	line-height:22px;
}
.margin-top-35{
	margin-top:35px;
}
.sep{
	height: 2px;
    width: 100%;
    background-color: #fff;
}
footer.homePageFooter{
	height: 43px;
	background-color: #58614e;
}
ul.menu{
	list-style-type:none;
	display:inline-flex;
	margin-top:15px;
	padding-left:15px;
}
footer.homePageFooter p.copyRight{
	font-size:11px;
}
.facebookIcon a{
	background: url(../images/icons.png) no-repeat;
    height: 15px;
    background-position: 0px -113px;
    width: 18px;
	margin-right:9px;
	display:inline-block;
}
.twitterIcon a{
	background: url(../images/icons.png) no-repeat;
    height: 15px;
    background-position: 0px -142px;
    width: 18px;
	margin-right:9px;
	display:inline-block;
}
.googleIcon a{
	background: url(../images/icons.png) no-repeat;
    height: 15px;
    background-position: 0px -169px;
    width: 18px;
	margin-right:9px;
	display:inline-block;
}
.picasaIcon a{
	background: url(../images/icons.png) no-repeat;
    height: 15px;
    background-position: -1px -198px;
    width: 18px;
	display:inline-block;
}
footer.homePageFooter div.container p{
	color: #b4bfaa;
	margin-top:15px;
}
.margin-top-10{
	margin-top:10px;
}
section.home_section4 div.container div.row  div.home_sectionBorder{
	border-right:1px solid #c2c2c2;
	padding-left:30px;
}
.sendUsMsg{
	padding-left:30px;
}
.contactInfo_homeIcon{
	background: url('../images/icons.png') no-repeat -2px -2px;
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-top: 4px;
}
.contactInfo_phoneIcon{
	background: url('../images/icons.png') no-repeat -2px -29px;
    width: 14px;
    height: 18px;
    display: inline-block;
    margin-top: 4px;
}
.contactInfo_faxIcon{
	background: url('../images/icons.png') no-repeat 0px -55px;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-top: 1px;
}
.contactInfo_emailIcon{
	background: url('../images/icons.png') no-repeat -2px -87px;
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-top: 4px;
}
section.home_section3 div.lastThumbnail figure{
	border: 3px solid #fff;
}
section.home_section3 div.lastThumbnail figure img{
	min-width: 193px;
    max-height: 129px;
	border: none;
    box-shadow: none;
}
/**** Home page end ****/
/**** About page Start ****/
section.about_section1{
	min-height:990px;
	background-color:#e0e0e0;
}
section.about_section1 h4{
	margin-bottom:10px;
}
section.about_section1 a{
	text-decoration:underline;
}
section.about_section1 p{
	margin-bottom:0px;
}
section.about_section1 .img-thumbnail{
	height: 310px;
	width:auto;
	box-shadow: 0 7px 6px -5px #888888;
	border-radius:0px;
}
.margin-bottom-35{
	margin-bottom:35px !important;
}
/**** About page end ****/
/**** Our Lawyers page start****/
section.ourLawyers_section1, section.news_section1 ,section.contact_section1{
	min-height:1015px;
	background-color:#e0e0e0;
	padding-top: 30px;	
}
section.ourLawyers_section1 h4, section.news_section1 h4 , section.contact_section1 h4{
	padding-top:12px;
	padding-bottom:20px;
	border-bottom: 2px dotted #c2c2c2;
	margin-bottom: 7px;
    margin-top: 0px;
}
.margin-top-30{
	margin-top:30px;	
}
section.ourLawyers_section1 .clientTestimonials, section.news_section1 .clientTestimonials{
	margin-top:57px;
}
section.ourLawyers_section1 .clientTestimonials blockquote , section.news_section1 .clientTestimonials blockquote{
	border-left:none;
}
section.ourLawyers_section1 .clientTestimonials blockquote footer, section.news_section1 .clientTestimonials blockquote footer{
	font-size:83%;
}
.no-margin{
	margin:0px;
}
section.ourLawyers_section1  h4.lawyer_classForDirectors{
	padding-top:28px;
	border-bottom:none;
	padding-bottom:20px;
}
.padding-left-20{
	padding-left:20px;
}
.lawyer_classForDirectors_div{
	 max-width: 140px;
}
.lawyer_classForDirectors_image{
	max-height: 106px;
    max-width: 106px;
	min-width:0px;
}
.dottedSep{
	border-bottom:2px dotted #c2c2c2;
	margin-top:25px;
	margin-left:-20px;
}
section.ourLawyers_section1  h4.lawyer_classForSenior{
	padding-top:25px;
	border-bottom:none;
	padding-bottom:20px;
}
section.ourLawyers_section1 .ourLawyers_sectionRight, section.news_section1 .ourLawyers_sectionRight, section.contact_section1 .contact_sectionRight{
	border-left:2px dotted #c2c2c2;
	height:960px;
}
/**** Our Lawyers page end****/
/**** News page Start****/
section.news_section1 .news_thumbnail{
	border: 1px solid #c2c2c2;
    background-color: #fff;
    height: 260px;
    width: 599px;
	margin-top:25px;
	margin-left:30px;
	box-shadow: 0px 4px 0px #ccc;
}
section.news_section1 .news_thumbnail .thumbnail{
	display: inline-flex;
    background-color: #fff;
    border: none;
	padding:3px;
	border-radius:0px;
}
section.news_section1 .ourLawyers_sectionRight h3{
	padding-left:14px;	
}
section.news_section1 .ourLawyers_sectionRight .thumbnail>img{
	min-height:255px;
}
section.news_section1 .ourLawyers_sectionRight .thumbnail .caption{
	margin-left:10px;
	margin-top:23px;
}section.news_section1 .ourLawyers_sectionRight .thumbnail .caption h5{
	margin-bottom:40px;
}
/**** News page end****/

/**** Contact page start****/
section.contact_section1 h4.contact_homeInfo{
	padding-top: 0px;
    border-bottom: none;
    padding-bottom: 0px;
	line-height:22px;
}
.margin-top-15{
	margin-top:15px;
}
.padding-left-5{
	padding-left:5px;
}
section.contact_section1 .contact_sectionRight{
	padding-left:32px;
}
section.contact_section1 .contact_sectionRight h4.contact_sectionRightH4{
	padding: 0px;
    border-bottom: none;
    margin-top: 30px;
}
section.contact_section1 .contact_sectionRight .form-group{
	margin-bottom:25px;
}
section.contact_section1 .contact_sectionRight form label{
	color: #4c5743;
	font-weight:normal;
}
section.contact_section1 .contact_sectionRight form .form-control{
	border-radius:0px;
	height:30px;
}
section.contact_section1 .contact_sectionRight form #message{
	height:112px;
	resize:none;
}
section.contact_section1 .contact_sectionRight form button{
	width: 212px;
	height:37px;
}

/**** Contact page end****/

@media only screen and (max-width: 767px) {
	header div.container{
		padding:0px 15px;
	}
	#bs-example-navbar-collapse-1{
		width: 100%;
		margin: 0px;
	}
	.navbar-toggle{
		margin-top:47px;
		margin-right:20px;
		padding:9px 4px;
	}
	.navbar-default .navbar-nav>.active>a{
		padding-left: 30px;
	}
	.navbar-nav>li>a{
		padding-top:20px;
	}
    section.home_section2, #firstContainerSection{
		height:auto;
	}
	.container{
		width:auto;
	}
	.home_section1{
		min-height:auto;
	}
	#firstContainerSection .homePage_para{
		font-size: 15px;
		line-height: 20px;
	}
	#firstContainerSection .homePage_para2 {
		font-size: 13px;
		line-height: 18px;
	}
	#firstContainerSection div.row div.margin-top-10{
		margin-top: 25px;
	}
	#firstContainerSection  div.row div.col-md-4{
		margin-top:10px;
	}
	section.home_section2 div.container div.row div.col-md-8{
		border-bottom: 1px dashed #c2c2c2;
		border-right:none;
	}
	section.home_section3{
		height:auto;
	}
	section.home_section3 div.container div.row div.col-xs-12{
		text-align:center;
	}
	.thumbnail{
		border-bottom: 1px solid #c2c2c2;
	}
	section.home_section3 p.margin-top-35{
		margin-top:0px;
	}
	.lastThumbnail{
		border-bottom: none;
	}
	section.home_section4{
		height:auto;
	}
	section.home_section4 div.container div.row  div.home_sectionBorder{
		border-bottom:1px solid #c2c2c2;
	}
	footer.homePageFooter p.copyRight{
		font-size:9px;
	}
	ul.menu{
		padding-left:10px;
	}
	.facebookIcon, .twitterIcon, .googleIcon{
		margin-right:0px;
	}
	footer .col-xs-3, footer .col-xs-9{
		padding-left : 10px;
	}
	.navbar{
		min-height:110px;
	}
	section.ourLawyers_section1, section.ourLawyers_section1 .ourLawyers_sectionRight, section.news_section1, section.ourLawyers_section1, section.news_section1 .ourLawyers_sectionRight,
	section.contact_section1, section.contact_section1 .contact_sectionRight{
		height:auto;
		border-left:none;
	}
	section.news_section1 div.row{
		margin-right:0px;
	}
	section.news_section1 div.ourLawyers_sectionRight div.row{
		padding-right: 15px;
	}
	section.news_section1 .news_thumbnail{
		width:auto;
		height:auto;
		box-shadow:none;
	}
	section.news_section1 .news_thumbnail .thumbnail{
		display:block;
	}
	section.news_section1 .ourLawyers_sectionRight .thumbnail .caption p:first-child{
		font-size:12px;
	}
	section.news_section1 .ourLawyers_sectionRight .thumbnail .caption h5{
		margin-bottom:23px;
	}
	section.contact_section1 form .btn-primary{
		margin-bottom:10px;
	}
	section.contact_section1 .contact_sectionRight, section.contact_section1 .contact_sectionRight form div{
		padding:0px;
	}
	section.contact_section1 .contact_sectionRight h3{
		background-color: #4c5743;
		color: #fff;
		width: 100%;
		padding: 4px 16px;
		margin-top: 25px;
		font-size: 20px;
		height: 30px;
	}
	section.contact_section1 .contact_sectionRight div{
		padding:0px 15px;
	}
	.navbar>.container-fluid .navbar-brand{
		margin-left: 10px;
	}
	section.home_section3 .thumbnail figure, section.home_section3 div.lastThumbnail figure{
		border:none;
	}
	section.home_section3 .thumbnail img, section.home_section3 div.lastThumbnail figure img{
		border: 3px solid #fff;
		padding: 2px;
	}
	footer.homePageFooter div.container p{
		margin-left: 22px;
	}
	section.ourLawyers_section1 .ourLawyers_sectionRight div.col-md-9{
		padding:0px 15px;
	}
}
@media only screen and (max-width: 767px) and (orientation: landscape){
	.navbar-toggle{
		padding: 9px 10px;
		width: 6%;    
		margin-top: 47px;
		margin-right: 40px;
	}
	section.home_section1 #firstContainerSection div.row div:first-child{
		margin-top:50px;
	}
	footer.homePageFooter div.no-padding{
		padding: 0px 15px;
	}
	#firstContainerSection .homePage_para{
		font-size: 21px;
		line-height: 29px;
	}
	#firstContainerSection .homePage_para2 {
		font-size: 15px;
		line-height: 21px;
	}
}
@media only screen and (min-width: 768px)  and (max-device-width: 1024px){
	.container{
		width:auto;
	}
	.home_section1,#firstContainerSection,section.home_section3{
		min-height:auto;
		height:auto;
	}
	.secondThumbnail p.margin-top-35, .lastThumbnail p.margin-top-35{
		margin-top:0px;
	}
	.navbar>.container-fluid .navbar-brand{
		margin-left:0px;
	}
	.navbar-nav{
		float:right;
	}
	.navbar-nav>li>a{
		padding-left: 20px;
		padding-top: 10px;
	}
	.secondThumbnail p.margin-top-35, .lastThumbnail p.margin-top-35{
		margin-top:35px;
	}
	#firstContainerSection  div.row div.col-md-4{
		margin-top:65px;
	}
	section.home_section2 blockquote footer{
		margin-right:15px;
	}
	section.home_section3 div.row div:first-child div.thumbnail div.caption a, section.home_section3 div.row div:nth-child(3) div.thumbnail div.caption a{
		margin-top:15px;
	}
	footer.homePageFooter div.no-padding{
		padding: 0px 15px;
	}
	section.home_section4 div.sendUsMsg  p:nth-child(3) a{
		width:195px;
	}
	#bs-example-navbar-collapse-1{
		padding-right:35px;
	}
	section.home_section3 div.lastThumbnail figure img{
		min-width: 147px;
		max-height: 98px;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	.navbar-nav{
		float:left;
		margin-top:50px;
		padding-right: 35px;
	}
	section.home_section2 blockquote footer{
		margin-right:15px;
	}
	#firstContainerSection  div.row div.col-md-4{
		margin-top:105px;
	}
	#bs-example-navbar-collapse-1{
		padding-right:20px;
	}
	section.home_section3 div.lastThumbnail figure img{
		min-width: 212px;
		max-height: 135px;
	}
}